/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
td:not([align]),
th:not([align]) {
  text-align: left;
}

body {
  position: relative;
  background-color: #1b2e63;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

h1 {
  margin: 0 auto 30px auto;

  text-align: center;
  font-size: 3rem;

  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  display: grid;
  grid-gap: 30px;
  align-items: center;

  max-width: 100%;

  margin: 30px;
  padding: 30px;
  border-radius: 10px;

  color: white;
  background-color: #313f66;

  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

ul {
  align-content: center;
  transition: 300ms;
  height: 0;
  max-width: 450px;
}

.transition {
  height: 400px;
}

li {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 10px;
}

li + li {
  border-top: solid 1px white;
}

span + span {
  text-align: right;
}

@media (max-width: 540px) {
  li {
    grid-template-columns: 1fr;
  }
  .transition {
    height: 720px;
  }
}

span + span,
span {
  text-align: center;
  grid-gap: 20px;
}

span {
  margin-bottom: 10px;
}
